<!doctype html>
<html>
	<head>
		<title>You suck at programming</title>
<style>
body {
	background-color: #100b14;
	color: #eee;
	font-family: monospace;
}
a {
	color: #55F;
	text-decoration: none;
}
a:visited {
	color: #55F;
	text-decoration: none;
}
</style>
	</head>
	<body>
		<pre><code>
		CONTENT
		</pre></code>
		<br>
		View this in your terminal with:
		<pre><code>    curl ysap.daveeddy.com</code></pre>
	</body>
</html>
