<!doctype html>
<html>
	<head>
		<title>You suck at programming</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="container">
			<!--<img src="ysap.png" id="self-portrait" alt="ysap" />-->
			<pre><code>
			CONTENT
			</code></pre>
		</div>
	</body>
</html>
